.root {
  p,
  img,
  span,
  ol,
  ul,
  span,
  h2 {
    margin-bottom: 1.5em;
  }

  p {
    font-size: 0.7em;
    text-align: left;
    width: 65%;
  }

  /* this may not be the best way to handle this image size long term */
  img {
    height: auto;
    max-width: 80vw;
    position: relative;
    width: 150%;
    z-index: -1;
  }

  /* videos get wrapped in a div from wp with a static width set */
  div {
    max-width: 100% !important;

    video {
      height: auto;
      width: 100%;
    }
  }

  ol,
  ul {
    font-size: 0.7em;
    list-style: circle;
    margin-left: 1em;
    max-width: 65%;
    text-align: left;
  }
}
