.root {
  font-family: var(--font-family-heading);
  font-weight: 700;
  line-height: 1.2em;
}

.h1 {
  font-size: responsive 1.8em 3em;
  font-range: 12em 40em; /* stylelint-disable-line */
  line-height: 1.1em;
}

.h2 {
  font-size: responsive 1.6em 2.4em;
  font-range: 12em 40em; /* stylelint-disable-line */
}

.h3 {
  font-size: 1.6em;
  line-height: 1.2em;
}

.h4 {
  font-size: 1.7em;
}

.h5 { font-size: 1.4em; }
.h6 { font-size: 1.2em; }
