@import 'breakpoints.css';

.root {
  margin: 0 auto;
}

/* variants */
.variantShell {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @media (--small) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
