* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 400;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  line-height: 1.4em;
}

a {
  color: black;
  text-decoration: underline;
}
